*, *:after, *:before {box-sizing: border-box;}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
	line-height: 1;
	font-size: 100px;
}

body, div, span, h1, h2, h3, h4, h5, h6, p, img,  ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

#main {
	font-size: .14rem;
}
#sidebar {
	float: left;
	width: 23%;
	min-height: 100vh;
	background-color: rgb(103,59,77);
}
#sidebar li {
	color: #fff;
	border: 5px solid #ddd;
	margin: 5px 10px;
	padding: 10px 15px;
	cursor: pointer;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
#sidebar li:hover{
	border: 5px solid #fff;
}
#sidebar  p{
	font-size: .12rem;
	margin: 5px 0; 
}
#content {
	float: left;
	min-height: 100vh;
	margin-right: 1%;
	width: 75%;
}

#chart {
	padding: 100px;
	width:800px;
	height: 600px;
}

@media screen and (min-width: 375px){
  html{
    font-size: 117.1875px;
  }
}
@media screen and (min-width: 414px){
  html{
    font-size: 129.375px;
  }
}